*.o
*.mod
*._*

.dropbox
Config/*
Output/*
Plots/*
Results/*
Binary/*
Library/*
Tools/log2root/log2root
Tools/Superpose/superpose
Tools/Superpose1/superpose1
Tools/Superpose3/superpose3
Tools/f2f-0.96

